{% extends 'base.html.twig' %}
{% block title %}Courses{% endblock %}
{% block body %}

    <h1>Index</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th>Detail</th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                {% if isAuthorize %}
                    <td><a href="{{ path('app_courses_detail', {'id': course.id}) }}">Detail</a></td>
                    {% else %}
                    <td>Wait or become admin to see details</td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}